.app {
    width: 680px;
    margin: 0 auto;
    .panels-container {
        position: relative;
        width: @component-width;
        height: 440px;
        margin: 10px auto 10px auto;
        padding: 20px;
        background-color: #FFF;
        box-sizing: border-box;
        overflow: hidden;
        .panel {
            position: absolute;
            transition: all 0.7s;
            transform: translateY(110%);
            svg {
                border: 1px solid black;
            }
            &.active {
                transform: translateX(0);
            }
        }
    }

    .panels-control {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 640px;
        height: 50px;
        background-color: #FFF;

        .panel-button {
            flex-grow: 1;
            margin-left: 10px;
            margin-right: 10px;
            height: 30px;
            background: @highlight;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover, &.active {
                background: @background;
                color: #FFF;
            }
        }
    }
}
